.topbarContainer{
    height: 50px;
    width: 100%;
    background-color: #503d96;
    display: flex;
    position: sticky;
    top: 0;
    align-items: center;
    z-index: 10;
}
.logo{
    font-size: 30px;
    margin-left: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.topbarLeft{
    flex: 3;
}


.topbarCenter{
    flex: 5;
}
.searchbar{
    width: 100%;
    height: 30px;
    background: white;
    border-radius: 30px;
    align-items: center;
    display: flex;
}
.searchIcon{
    font-size: 20px!important;
    margin-left: 10px;
}
.searchInput{
    border: none;
    width: 70%;
}
.searchInput:focus{
    outline: none;
}
.listSearch{
    position: fixed;
    list-style: none;
    background: #eeeeee;
    border-radius: 20px;
    border: 3px rgb(175, 175, 175) solid;
    margin: auto;
    margin-top: -4px;
    width: 38%;
    right: 125px;
    left: 0;
    z-index: 3;
}
.listSearchItem{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px rgb(199, 199, 199) solid;
    width: 93%;
    margin-top: 5px;
}
.listSearchItem:hover{
    background-color: rgb(170, 170, 170);
}
.searchImage{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    object-fit: cover;
    border: white 2px solid;
}
.searchUsername{
    text-decoration: none;
    color: rgb(70, 70, 70);
    font-weight: 500;
}



.topbarRight{
    flex: 4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.topbarLink{
    margin-right: 10px;
    font-size: 14px;
    cursor: pointer;
}
.topbarImg {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px white solid;
}
.topbarIcons{
    display: flex;
}
.topbarIcons a{
    color: white;
}

.topbarIconItem{
    margin-right: 15px;
    cursor: pointer;
    position: relative;
}
.topbarIconBadge{
    width: 15px;
    height: 15px;
    background: red;
    border-radius: 50%;
    color: white;
    position: absolute;
    top: -5px;
    right: -5px;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    text-align: center;
}